.custom-datepicker {
  width: 150.25px;
  height: 25.07px;
  font-size: 13px;
  font-weight: 500;
  background: #FFFFFF;
  border: 2px solid rgba(160, 155, 163, 0.59);
  border-radius: 6px;
  margin: 15px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
}

.btns{
  border: 2px solid rgba(160, 155, 163, 0.59);
  border-radius: 6px;
}

.btn{
  width: 70px;
  height: 24px;
  border: none;
  border-right: 2px solid rgba(160, 155, 163, 0.59);
  background-color: white;
  transition: background-color 0.2s; 
  cursor: pointer;
  font-size: 13px;
  font-weight: 600px;
}

.btn.active {
  background-color: #ACACAC; 
  color: white;
}

.btn:last-child {
  border-right: none;
}

.btn:hover{
  background-color: #ACACAC;
}