.btn.btn-success{
  background-color: red;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  width: 100px;
  height: 30px;
}
.btn.btn-danger{
  background-color: blue;
  color: white;
  margin: 0px 20px 0px 0px;
  border-radius: 3px;
  font-weight: bold;
  width: 100px;
  height: 30px;
}