/* #blocklyDiv {
  width: 100%;
  height: 100%; */
  /* position: absolute; */
  /* display: flex; */
  /* border: 1px solid #DBDBDB;
  border-radius: 6px;
  margin: 20px 20px 0px 50px;
} */

/* Makes our label white. */
.blocklyTreeLabel {
  color: white;
  font-size: 15px;
}
/* Adds padding around the group of categories and separators. */
/* 블록 카테고리 */
.blocklyToolboxContents {
  padding: 0.5em;
  /* background-color: rgb(190, 92, 255);
} */
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  padding: 3px;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

